.active {
    color: gold;
    margin-left: 10px;
}

.itemUser {
    margin-left: 10px;
    color: blue;
}

.dialogItem {
    display: flex;
    align-items: center;
    margin: 5px;
}

.dialogItem img {
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
