.postWrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 2fr 1fr;
    padding-left: 10px;
}

.postWrapper img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.item {
    margin-left: 15px;
    align-self: center;
}
