.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messagesBlock {
    display: flex;
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

